{% extends 'base.html' %}
{% block page_content %}
<div class="container row" id="timelog" data-user="{{ user.pk }}">
    <div class="col s12 l4 white card" id="time-actions">
        <div class="card-content">
            <span class="card-title">{{ employee }}</span>
            <a class="{{time_class}}" id="time">{{time_txt}}</a>
        </div>
    </div>
    <div class="col s12 l7 offset-l1 white card" id='log-list'>
        <div class="card-content">
            <span class="card-title">Logs</span>
        </div>
    </div>
</div>
{% endblock %}
{% block page_javascript %}
<script src="{{ STATIC_URL }}log/js/timelog.js"></script>
{% endblock %}