{% extends 'base.html' %}
{% load staticfiles %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'log/css/timelog.css' %}">
{% endblock %}
{% block page_content %}
<div class="container" id="timelog" data-user="{{ user.pk }}">
    {% if employee.is_timed_in %}
        <a class="btn-large red lighten-1" id="timein" href="{% url 'timein' %}">Time Out</a>
    {% else %}
        <a class="btn-large" id="timein" href="{% url 'timein' %}">Time In</a>
    {% endif %}
</div>
{% endblock %}
{% block page_javascript %}
<script src="{% static 'log/js/timelog.js' %}"></script>
{% endblock %}