{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %} Time Log {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block page_css %}
    {% endblock %}
  </head>
  <body class="grey lighten-3">
    {% block page_content %}{% endblock %}
  </body>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="{% static 'core/js/require.js' %}"></script>
  <script src="{% static 'core/js/require-config.js' %}"></script>
  {% block page_javascript %}{% endblock %}
</html>
