<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %} Time Log {% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}build/core/css/timelog.css">
    {% block page_css %}
    {% endblock %}
  </head>
  <body class="grey lighten-3">
    <header>
    {% if user.is_authenticated %}
      {% include 'navbar.html' %}
    {% endif %}
    </header>
    <main>
    {% block page_content %}{% endblock %}
    </main>
  </body>
  <script src="{{ STATIC_URL }}core/js/jquery-1.11.3.min.js"></script>
  <script src="{{ STATIC_URL }}core/js/materialize.min.js"></script>
  <script src="{{ STATIC_URL }}core/js/require.js"></script>
  <script src="{{ STATIC_URL }}core/js/require-config.js"></script>
  {% block page_javascript %}{% endblock %}
</html>
